.container-contato {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
}
.icone-contato {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.081);
}

.dados-contato {
  font-size: 2rem;
}

.section-contato {
  min-height: 100vh;
}
