@import url(servicos.css);
@import url(localizacao.css);
@import url(contato.css);
.titulo-section {
  padding-bottom: 10vh;

  font-size: 4rem;
  font-weight: 1000;
}

section::before {
  content: "";
  display: block;

  visibility: hidden;
}

.section {
  padding: 10vh 0;
  scroll-margin-top: 7.1rem;
  text-align: center;
}
