@import url(servicos.css);
@import url(localizacao.css);
@import url(contato.css);
.titulo-section {
  padding-bottom: 5vh;

  font-size: 4rem;
  font-weight: 1000;
}

section::before {
  content: "";
  display: block;

  visibility: hidden;
}

.section {
  padding: 5vh 0;

  text-align: center;
}

.section:last-child {
  padding-bottom: 10vh;
}

.section-sobre {
  padding-top: 10vh;
}
