@import url(servicos.css);
@import url(localizacao.css);
@import url(contato.css);
.titulo-section {
  padding: 0;
  font-size: 4rem;
  font-weight: 1000;
}

section::before {
  content: "";
  display: block;
  height: 7.2rem; /* Altura do cabeçalho */
  margin-top: -7.2rem; /* Espaço negativo para ajustar a posição da seção */
  visibility: hidden;
}

.section {
  scroll-margin-top: 30vh;
  text-align: center;
}
